@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #deefef;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.header-logo {
  height: 400px;
  width: 400px;
  padding: 30px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  top: 30px;
}
.App {
  text-align: center;
}
.circle {
  width: 30px;
  border-radius: 50px;
}
.title {
  color: blue;
}
.btn-login {
  color: white;
  border: none;
  background: #32aee3;
  height: 40px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #011702;
  color: white;
}
.btn-logout {
  color: white;
  background-color: #32aee3;
  border: none;
  width: 130px;
  height: 35px;
  border-radius: 60px;
  cursor: pointer;
  font-size: 15px;
}

.btn-logout:hover {
 
  background-color: #011702;
  
}
.pcenter {
  text-align: center;
  margin-top: 50px;
}
.scrollBar{


                margin:4px, 4px;
                padding:4px;
                height: 680px;
                overflow-x: hidden;
                overflow-y: auto;
        

}

.logoo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  position: relative;
  left: 100px;
  padding: 10px;
}
.text {
  text-align: center;
  color: rgb(0, 0, 0);
}

.header {
  background-color: #32aee3;
  color: white;
  padding: 30px;
}
.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
   padding-right: 50px;
}
nav {
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
 
  height: 70px;
 
 
}
nav .logot {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-right: 30px;
}
nav .nav-items {
  display: flex;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
}
nav .nav-items li a:hover {
  color: #3cd3ee;
}

@media (max-width: 425px) {
  nav {
    justify-content: space-around;
  }

  .logot {
    font-size: 20px !important;
  }

  .menuhumb {
    display: block;
    font-size: 20px;
  }
  .Dropmenu {
    padding-top: 80px;
    height: 200px;
    width: 500px;
    background-color: #010303;
  }

  nav .nav-items {
    display: none;
  }
 

  form {
    width: 170px;
    height: 30px;
  }

  

   iframe{

    height:70px;
    width:100%;


  }
}




.titreVideo {
  color: rgb(0, 0, 0);
  font-size: 100%;
  padding: 10px;
}
.infoVideo{
  display: flex;
  gap:30px;
  padding-bottom: 20px;
}
.channel__info__container{
  display: flex;
  align-items: flex-start;
 
  
}
.textchaine{
  position: relative;
  right:190px;
}
 .img-circle{
    border-radius: 100px;
  }

iframe {
   width: 128vh;
   height: 68vh;
   position: sticky;
}
.ParentLecture{
  height: 100vh;
}

.LecturePage{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   gap: 8%;
   padding-top: 7%;
   margin: 0 9.4%;
}

